<style>
  .search-btn {
    border-radius: 15px;
    background-color: #fe424d;
    color: white;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #ffffff;
  }
  .search-btn i {
    margin-right: 5px;
  }
  .search-inp {
    border-radius: 15px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav
  class="navbar navbar-expand-md bg-body-light border-bottom sticky-top mb-3"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Search Form inside Navbar - Improved Version -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <!-- Search input field -->
          <input
            id="navbar-search"
            type="search"
            class="form-control me-3 search-inp"
            placeholder="Search destinations"
            aria-label="Search"
            autocomplete="off"
          />

          <!-- Submit button with search icon and label -->
          <button
            class="btn search-btn d-flex align-items-center"
            type="submit"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="btn btn-outline-primary" href="/listings/new"
          >Airbnb your home</a
        >
        &nbsp;&nbsp;&nbsp; <% if(!currUser) { %>
        <a class="btn btn-danger" href="/signup"><b>Sign up</b></a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser) { %>
        <div class="btn btn-primary"><%= currUser.username %></div>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
