<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="btn btn-outline-primary" href="/listings/new"
          >Airbnb your home</a
        >
        &nbsp;&nbsp;&nbsp; <% if(!currUser) { %>
        <a class="btn btn-danger" href="/signup"><b>Sign up</b></a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser) { %>
        <div class="btn btn-primary"><%= currUser.username %></div>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
